* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: sans-serif;
    height: 100%;
    width: 100%;
    padding: 10px;
}
#main {
    height: 100%;
    width: 100%;
    background-color: rgb(239, 255, 242);
    display: grid;
    grid-template-columns: 50% 50%;
}
#left{
    background-color: rgb(239, 255, 242);
}
#right{
    background-color: rgb(239, 255, 242);
}

#top{
    display: grid;
    grid-template-columns: 50% 50%;
}
#menu{
    padding: 2% 7%;
    display: grid; 
    justify-content: space-between;
    background-color: rgb(239, 255, 242);
   
}
#star{
    height: 25px;
    width: 25px;
    margin-top: 50%;
    background-color: #000000;
    rotate: 45deg;
}
#info{
    display: grid;
    justify-content: right;
    text-align: end;
    padding: 6% 6%;
    margin-bottom: 25px;
    
}
#info h4{
    margin-bottom: 25px;
}
#info p{
    font-weight: 550;
}
#top p{
    font-weight: 540;
    line-height: 130%;
}
#middle{
    padding-left: 5%;
    
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    pad: 10px 15px;
    font-size: 340%;
    font-weight:lighter;
    font-style: normal;
    line-height: 140%;
    display: grid;

}
h1{
    font-weight: 540;
}
#bottom{
    margin-top: 10%;
    padding-left: 5%;
}
#bottom p{
    width: 60%;
}
#snd{
    padding-left: 20%;
    
}
#frth{
    padding-left: 39%;
}

#arrow{
    position: absolute;
    height: 65px;
    width: 65px;
    border-radius: 50%;
    top: 50%;
    left: 50.5%;
    transform: translate(-50%,-50%);
    background-color: rgba(198, 67, 67, 0.795);
    display: flex;
    align-items: center;
    justify-content: center;
}
#arrow i{
    font-size: 30px;
    color : white;
}
 #right{
     padding: 25px;
    padding-right: 100px;
    overflow: hidden;
 }
 #right video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
   
 }